footer.section
	.footer-minimal.bg-default.text-center.text-md-left
		.container.wow.fadeInUp: .row.row-20.justify-content-md-between
			.col-md-7.col-lg-4.col-xl-auto: +rights
			.col-md-auto
				ul.list-social.list-inline.list-inline-md
					li: a.icon.mdi.mdi-facebook( href='#' )
					li: a.icon.mdi.mdi-youtube-play( href='#' )
					li: a.icon.mdi.mdi-twitter( href='#' )
					li: a.icon.mdi.mdi-instagram( href='#' )
			.col-md-auto
				ul.footer-creative-nav.list-inline.list-inline-md
					li: a( href= links.schedule ) Schedule
					li: a( href='classes.html' ) Classes
					li: a( href= links.news ) News
