footer.section.footer-classic.footer-classic-1.bg-default
	.footer-classic-body.section-sm
		.container.wow.fadeInUp: .row.row-30.row-md-50.row-lg-80.justify-content-sm-between
			.col-sm-7.col-md-7.col-lg-9.align-self-lg-center
				h4.title-14 Enter the world of relaxation and balance with YogaSun
			.col-sm-auto.align-self-sm-center
				a.button.button-default-outline( href='schedule-by-class.html' ) Book a class
			.col-md-4.col-xl-3
				.heading-6.footer-classic-title About Us
				p At YogaSun, we're all about inspiring people to be happier and healthier.
				.footer-classic-list-social
					ul.list-social.list-inline.list-inline-md
						li: a.icon.mdi.mdi-facebook( href='#' )
						li: a.icon.mdi.mdi-google( href='#' )
						li: a.icon.mdi.mdi-twitter( href='#' )
						li: a.icon.mdi.mdi-pinterest( href='#' )

			.col-sm-4.col-md-3: .inset-xl-left-70
				.heading-6.footer-classic-title Contacts
				ul.contacts-modern
					li 652 Main Road, Apt 12 New York, USA 10033
					li
						a( href='tel:#' ) +1 800 123 1234
						br
						a( href='mailto:#' ) info@demolink.org

			.col-sm-6.col-md-5.col-lg-4: .inset-xl-left-70.inset-xl-right-30
				.heading-6.footer-classic-title Opening hours
				ul.footer-classic-schedule
					li
						div
							span Weekdays
							span 7:00 AM - 7:00 PM
						div
							span Friday
							span 9:00 AM - 5:00 PM
					li
						div
							span Saturday
							span 10:00 AM - 3:00 PM
						div
							span Sunday
							span Closed

	.footer-classic-panel
		.container.wow.fadeInUp: .row.row-20.align-items-center.justify-content-center.justify-content-md-between
			.col-sm-auto: .footer-classic-brand: +logo
			.col-sm-auto
				ul.footer-classic-nav.list-inline.list-inline-md
					li: a( href='classes.html' ) Classes
					li: a( href= links.schedule ) Schedule
					li: a( href='events.html' ) Events
					li: a( href='contact-us.html' ) Contact Us
			.col-sm-auto: +rights