header.section.page-header
	//RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-modern.rd-navbar-modern-1(
			data-layout=                'rd-navbar-fixed'
			data-sm-layout=             'rd-navbar-fixed'
			data-md-layout=             'rd-navbar-fixed'
			data-md-device-layout=      'rd-navbar-fixed'
			data-lg-layout=             'rd-navbar-static'
			data-lg-device-layout=      'rd-navbar-fixed'
			data-xl-layout=             'rd-navbar-static'
			data-xl-device-layout=      'rd-navbar-static'
			data-xxl-layout=            'rd-navbar-static'
			data-xxl-device-layout=     'rd-navbar-static'
			data-lg-stick-up-offset=    '50px'
			data-xl-stick-up-offset=    '50px'
			data-xxl-stick-up-offset=   '50px'
			data-lg-stick-up=           'true'
			data-xl-stick-up=           'true'
			data-xxl-stick-up=          'true'
			data-lg-auto-height=        'false'
			data-xl-auto-height=        'false'
			data-xxl-auto-height=       'false'
		)
			.rd-navbar-main-outer
				.rd-navbar-main
					//RD Navbar Panel
					.rd-navbar-panel
						//RD Navbar Toggle
						button.rd-navbar-toggle( data-rd-navbar-toggle='.rd-navbar-nav-wrap' ): span

						//RD Navbar Brand
						.rd-navbar-brand: +logo

					.rd-navbar-nav-wrap: +navigation( menu )
					.rd-navbar-elements
						a.rd-navbar-basket.linearicons-cart.rd-navbar-fixed-element-2( href='cart-page.html' ): span 2
						button.sidebar-toggle.sidebar-toggle-1.rd-navbar-fixed-element-1( data-multitoggle='.sidebar-wrap', data-multitoggle-blur='.rd-navbar-wrap', data-multitoggle-isolate='' ): span

			button.sidebar-toggle.sidebar-toggle-2( data-multitoggle='.sidebar-wrap', data-multitoggle-blur='.rd-navbar-wrap', data-multitoggle-isolate='' ): span
			include ../includes/_sidebar