header.section.page-header
	//RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-minimal.rd-navbar-minimal-1(
			data-layout=                'rd-navbar-fixed'
			data-sm-layout=             'rd-navbar-fixed'
			data-md-layout=             'rd-navbar-fixed'
			data-md-device-layout=      'rd-navbar-fixed'
			data-lg-layout=             'rd-navbar-static'
			data-lg-device-layout=      'rd-navbar-fixed'
			data-xl-layout=             'rd-navbar-static'
			data-xl-device-layout=      'rd-navbar-static'
			data-xxl-layout=            'rd-navbar-static'
			data-xxl-device-layout=     'rd-navbar-static'
			data-lg-stick-up-offset=    '50px'
			data-xl-stick-up-offset=    '50px'
			data-xxl-stick-up-offset=   '50px'
			data-lg-stick-up=           'true'
			data-xl-stick-up=           'true'
			data-xxl-stick-up=          'true'
			data-lg-auto-height=        'false'
			data-xl-auto-height=        'false'
			data-xxl-auto-height=       'false'
		)
			.rd-navbar-main-outer
				.rd-navbar-main
					.rd-navbar-main-left
						//RD Navbar Panel
						.rd-navbar-panel
							//RD Navbar Toggle
							button.rd-navbar-toggle( data-rd-navbar-toggle='.rd-navbar-nav-wrap' ): span

							//RD Navbar Brand
							.rd-navbar-brand: +logo
						button.sidebar-toggle.rd-navbar-fixed-element-1( data-rd-navbar-toggle='.sidebar-wrap' ): span

					.rd-navbar-main-right
						.rd-navbar-nav-wrap: +navigation( menu )
						a.button.button-sm.button-primary.rd-navbar-fixed-element-2( href='#' )
							span.icon.mdi.mdi-calendar-check
							span.button-text Book a workout

			include ../includes/_sidebar