//Icon List
section.section.bg-gray-5
	.row.no-gutters.bordered-1
		.col-sm-6.col-xl-3
			+box-classic({
				icon: 'mdi mdi-wallet',
				title: 'Affordable Prices',
				text: 'Torquis nobilis cobaltum est. Sunt lacteaes magicae raptus, superbus verpaes.'
			})
		.col-sm-6.col-xl-3
			+box-classic({
				icon: 'mdi mdi-account-star-variant',
				title: 'Professional Team',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'
			})
		.col-sm-6.col-xl-3
			+box-classic({
				icon: 'mdi mdi-map-marker',
				title: 'Best Location',
				text: 'Vae, superbus sensorem! Albus, azureus particulas superbe reperire de domesticus.'
			})
		.col-sm-6.col-xl-3
			+box-classic({
				icon: 'mdi mdi-trophy-variant',
				title: 'Premium Equipment',
				text: 'Est bassus demissio, cesaris. Clemens, azureus fraticinidas velox imperium de secundus.'
			})