//Swiper
section.section.swiper-container.swiper-slider.swiper-slider-2( data-autoplay='5000', data-simulate-touch='false', data-slide-effect='fade' )
	.swiper-wrapper.text-center
		.swiper-slide.context-dark( data-slide-bg='images/swiper-2-slide-1.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg: .container: .row.justify-content-center: .col-lg-10.col-xl-9
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Welcome
					br
					| to Powerfit
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) Join our studio to stay fit and healthy!
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us
		.swiper-slide.context-dark( data-slide-bg='images/swiper-2-slide-2.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg: .container: .row.justify-content-center: .col-lg-10.col-xl-9
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Better
					br
					| and stronger
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) We can help you look and feel amazing!
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us
		.swiper-slide.context-dark( data-slide-bg='images/swiper-2-slide-3.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg: .container: .row.justify-content-center: .col-lg-10.col-xl-9
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Top-notch
					br
					| Experience
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) Enjoy your workouts the best way possible!
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us

		.swiper-slide.context-dark( data-slide-bg='images/swiper-2-slide-4.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg: .container: .row.justify-content-center: .col-lg-10.col-xl-9
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Inspiring
					br
					| Atmosphere
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) Bringing you more than just ordinary workouts
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us

	//Swiper Pagination
	.swiper-pagination

	//Swiper Navigation
	.swiper-button-prev
	.swiper-button-next
