//Swiper
section.section.swiper-container.swiper-slider.swiper-slider-3( data-autoplay='5000', data-simulate-touch='false', data-slide-effect='fade' )
	.swiper-wrapper.text-left
		.swiper-slide.context-dark( data-slide-bg='images/swiper-3-slide-1.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-xl: .container: .row: .col-sm-9.col-md-8
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Leading
					br
					| Fitness Club
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) GoSport can always give you a
					br.d-none.d-md-block
					=' '
					| warm welcome and get you fit.
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us
		.swiper-slide.context-dark( data-slide-bg='images/swiper-3-slide-2.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-xl: .container: .row: .col-sm-9.col-md-8
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) All Kinds of
					br
					| Training
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) We cover the fitness needs of
					br.d-none.d-md-block
					=' '
					| children, teens, and adults.
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us
		.swiper-slide.context-dark( data-slide-bg='images/swiper-3-slide-3.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-xl: .container: .row: .col-sm-9.col-md-8
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Helping You
					br
					| Stay Healthy
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) Workouts designed by our coaches
					br.d-none.d-md-block
					=' '
					| will surely make you fit and healthy.
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us

		.swiper-slide.context-dark( data-slide-bg='images/swiper-3-slide-4.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-xl: .container: .row: .col-sm-9.col-md-8
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) Friendly
					br
					| Atmosphere
				h4.swiper-subtitle( data-caption-animate='fadeInUp', data-caption-delay='250' ) Experience the supportive atmosphere
					br.d-none.d-md-block
					| for all kinds of fitness training.
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us

	//Swiper Pagination
	.swiper-pagination

	article.video-classic
		a.video-classic-link( href='https://www.youtube.com/watch?v=1UWpbtUupQQ', data-lightgallery='item' ): span.icon.mdi.mdi-play
		.video-classic-title Who are we?