//Swiper
section.section.swiper-container.swiper-slider.swiper-slider-4( data-autoplay='5000', data-simulate-touch='false', data-slide-effect='fade' )
	.swiper-wrapper
		.swiper-slide.context-dark.text-center( data-slide-bg='images/swiper-4-slide-1.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg.section-inset-2.offset-xl-bottom-100: .container
				h4.swiper-subtitle( data-caption-animate='fadeInDown', data-caption-delay='250' ) welcome to Yogasun
				h1.swiper-title( data-caption-animate='fadeIn', data-caption-delay='100' )
					span.font-weight-thin find
					=' '
					| a balance
				h2.swiper-title-2( data-caption-animate='fadeInUp', data-caption-delay='250' ) of your body and soul
				.swiper-button( data-caption-animate='fadeInUp', data-caption-delay='400' )
					a.button.button-lg.button-primary( href='#' ) Join us

		.swiper-slide.context-dark.text-left( data-slide-bg='images/swiper-4-slide-2.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg.section-inset-2: .container
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) enjoy
					=' '
					span.font-weight-thin the best
				h2.swiper-title-2( data-caption-animate='fadeInUp', data-caption-delay='250' ) yoga classes
				.group-lg.group-middle( data-caption-animate='fadeInUp', data-caption-delay='400' )
					h4.swiper-subtitle designed by
						br
						| professionals
					a.button.button-lg.button-primary( href='#' ) Join us

		.swiper-slide.context-dark.text-right( data-slide-bg='images/swiper-4-slide-3.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg.section-inset-2: .container
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) explore
					=' '
					span.font-weight-thin the world
				h2.swiper-title-2( data-caption-animate='fadeInUp', data-caption-delay='250' ) of yoga practice
				.group-lg.group-middle( data-caption-animate='fadeInUp', data-caption-delay='400' )
					h4.swiper-subtitle available to
						br
						| every client
					a.button.button-lg.button-primary( href='#' ) Join us

		.swiper-slide.context-dark.text-left( data-slide-bg='images/swiper-4-slide-4.jpg' )
			.swiper-slide-custom
			.swiper-slide-caption.section-lg.section-inset-2: .container
				h1.swiper-title( data-caption-animate='fadeInDown', data-caption-delay='100' ) join
					=' '
					span.font-weight-thin a community
				h2.swiper-title-2( data-caption-animate='fadeInUp', data-caption-delay='250' ) ready to support you
				.group-lg.group-middle( data-caption-animate='fadeInUp', data-caption-delay='400' )
					h4.swiper-subtitle in your
						br
						| every step
					a.button.button-lg.button-primary( href='#' ) Join us

	//Swiper Pagination
	.swiper-pagination

	//Swiper Navigation
	.swiper-button-prev
	.swiper-button-next
