//Swiper
section.section.swiper-container.swiper-slider.swiper-slider-1( data-autoplay='5000', data-slide-effect='fade', data-simulate-touch='false' )
	.swiper-wrapper
		.swiper-slide( data-slide-bg='images/swiper-1-slide-1.jpg' ): .swiper-slide-custom
		.swiper-slide( data-slide-bg='images/swiper-1-slide-2.jpg' ): .swiper-slide-custom
		.swiper-slide( data-slide-bg='images/swiper-1-slide-3.jpg' ): .swiper-slide-custom
		.swiper-slide( data-slide-bg='images/swiper-1-slide-4.jpg' ): .swiper-slide-custom
	.swiper-content.context-dark: .container.wow.fadeInUp
		h1.swiper-title Challenge
		h5.swiper-subtitle Your
			span emotional
			span and physical
			span strength
		a.button.button-lg.button-gradient( href='checkout.html' ) Register now
	+img('decor-1-1254x801.png').swiper-slider-image.wow.slideInUp