{%load static%}
{% static "img/team/coaches" as coachUrl %}
{% block imports %}

{% endblock imports %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>TESTING</title> {% endblock title %}
    {% endblock head_meta %}

    {% block head_css %}
    {% endblock head_css %}
</head>

<body>
    {% block navbar %}

    {% endblock navbar %}

    {% block content %}

    {% endblock content %}


    {% block footer %}

    {% endblock footer %}

    {% block footer_javascript %}

    {% endblock footer_javascript %}
</body>




</html>