.row.row-xl.row-30
	.col-sm-6.col-lg-4
		+team({
			img: 'team-1-370x314',
			position: 'Fitness Coach',
			name: 'Patrick Stuart'
		}).block-md
	.col-sm-6.col-lg-4
		+team({
			img: 'team-2-370x314',
			position: 'Yoga/Fitness coach',
			name: 'Ann Williams'
		}).block-md
	.col-sm-6.col-lg-4
		+team({
			img: 'team-3-370x314',
			position: 'Crossfit Coach',
			name: 'Sam Peterson'
		}).block-md
	.col-sm-6.col-lg-4
		+team({
			img: 'team-4-370x314',
			position: 'Fitness Expert',
			name: 'Sophia Smith'
		}).block-md
	.col-sm-6.col-lg-4
		+team({
			img: 'team-5-370x314',
			position: 'Bodybuilding coach',
			name: 'Earl Allen'
		}).block-md
	.col-sm-6.col-lg-4
		+team({
			img: 'team-6-370x314',
			position: 'Crossfit/Fitness Coach',
			name: 'Jessica Roberts'
		}).block-md
