.sidebar-wrap
	.sidebar
		h5.sidebar-title Get in Touch
		+img('image-1-333x262')
		ul.contacts-creative
			li: .unit.unit-spacing-md
				.unit-left: span.icon.linearicons-telephone
				.unit-body
					= 'T. '
					a( href='tel:#' ) +61 3 8376 6284
					br
					= 'E. '
					a( href='mailto:#' ) info@demolink.org
			li: .unit.unit-spacing-md
				.unit-left: span.icon.linearicons-clock3
				.unit-body Opening Hours:
					br
					| 07:00 am - 07:00 pm
			li: .unit.unit-spacing-md
				.unit-left: span.icon.linearicons-map2
				.unit-body: a( href='#' ) 652 Main Road, Apt 12 New York, USA 10033
	.sidebar-panel
		ul.list-social
			li: a.icon.mdi.mdi-facebook( href='#' )
			li: a.icon.mdi.mdi-google( href='#' )
			li: a.icon.mdi.mdi-twitter( href='#' )
			li: a.icon.mdi.mdi-pinterest( href='#' )