// Theme variables
$primary: #ae6fbb;
$secondary: #ff595c;

// Fonts
$font-family-sans-serif-1: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


// Import main styles
@import 'main';


// Specific theme styles