// Theme variables
$primary: #1e49c2;
$secondary: #703f8c;

// Fonts
$font-family-sans-serif-1: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


// Import main styles
@import 'main';


// Specific theme styles
.rd-navbar-static {
	.rd-navbar-dropdown {
		li > a::before {
			background: $primary;
		}
	}
}