extends ../_skeleton

include ../components/_progress-linear
include ../components/_countdown

block variables
	- pageName = 'Progress Bars'

block page
	include ../sections/_header-classic

	+breadcrumbs

	//Countdown
	section.section.section-lg.bg-default.text-center
		.container
			+countdown({ to: '2019-12-31' })

	//Skill Bars
	section.section.section-lg.bg-default
		.container: .row.justify-content-center: .col-sm-11.col-md-9.col-lg-7.col-xl-6.progress-linear-wrap
			+progress-linear({
				title: 'Crossfit',
				value: '85'
			})
			+progress-linear({
				title: 'Yoga',
				value: '80'
			}).progress-linear-blue
			+progress-linear({
				title: 'Cardio',
				value: '70'
			}).progress-linear-secondary

	include ../sections/_footer-classic
