extends ../_skeleton

include ../components/_schedule

block variables
	- pageName = 'Schedule by class'

block page
	include ../sections/_header-classic

	+breadcrumbs

	//Schedule
	section.section.section-lg.bg-gray-100
		.container
			//Bootstrap tabs
			.tabs-custom.tabs-classic.tabs-classic-2
				//Nav tabs
				ul.nav.nav-tabs
					li.nav-item( role='presentation' ): a.nav-link.active( href='#tabs-schedule-1-1', data-toggle='tab' ) Fitness
					li.nav-item( role='presentation' ): a.nav-link( href='#tabs-schedule-1-2', data-toggle='tab' ) Crossfit
					li.nav-item( role='presentation' ): a.nav-link( href='#tabs-schedule-1-3', data-toggle='tab' ) Yoga
					li.nav-item( role='presentation' ): a.nav-link( href='#tabs-schedule-1-4', data-toggle='tab' ) Endurance
					li.nav-item( role='presentation' ): a.nav-link( href='#tabs-schedule-1-5', data-toggle='tab' ) Pilates
					li.nav-item( role='presentation' ): a.nav-link( href='#tabs-schedule-1-6', data-toggle='tab' ) Cardio

				//Tab panes
				.tab-content
					div#tabs-schedule-1-1.tab-pane.fade.show.active
						.schedule-wrap
							+schedule({
								days: 'Monday',
								time: '9:00 am - 10:00 am',
								name: 'Sophia Smith'
							})
							+schedule({
								days: 'Tuesday',
								time: '9:00 am - 10:00 am',
								name: 'Sophia Smith'
							})
							+schedule({
								days: 'Friday',
								time: '9:00 am - 10:00 am',
								name: 'Sophia Smith'
							})

					div#tabs-schedule-1-2.tab-pane.fade
						.schedule-wrap
							+schedule({
								days: 'Tuesday',
								time: '11:00 am - 12:00 pm',
								name: 'Sam Peterson'
							})
							+schedule({
								days: 'Friday',
								time: '11:00 am - 12:00 pm',
								name: 'Sam Peterson'
							})
							+schedule({
								days: 'Saturday',
								time: '11:00 am - 12:00 pm',
								name: 'Sam Peterson'
							})

					div#tabs-schedule-1-3.tab-pane.fade
						.schedule-wrap
							+schedule({
								days: 'Monday',
								time: '1:00 pm - 2:00 pm',
								name: 'Ann Williams'
							})
							+schedule({
								days: 'Thursday',
								time: '1:00 pm - 2:00 pm',
								name: 'Ann Williams'
							})
							+schedule({
								days: 'Saturday',
								time: '1:00 pm - 2:00 pm',
								name: 'Ann Williams'
							})

					div#tabs-schedule-1-4.tab-pane.fade
						.schedule-wrap
							+schedule({
								days: 'Wednesday',
								time: '6:00 pm - 7:00 pm',
								name: 'Jessica Robertson'
							})
							+schedule({
								days: 'Thursday',
								time: '6:00 pm - 7:00 pm',
								name: 'Jessica Robertson'
							})
							+schedule({
								days: 'Friday',
								time: '6:00 pm - 7:00 pm',
								name: 'Jessica Robertson'
							})

					div#tabs-schedule-1-5.tab-pane.fade
						.schedule-wrap
							+schedule({
								days: 'Monday',
								time: '10:00 am - 11:00 am',
								name: 'Grace Peterson'
							})
							+schedule({
								days: 'Wednesday',
								time: '10:00 am - 11:00 am',
								name: 'Grace Peterson'
							})
							+schedule({
								days: 'Friday',
								time: '10:00 am - 11:00 am',
								name: 'Grace Peterson'
							})

					div#tabs-schedule-1-6.tab-pane.fade
						.schedule-wrap
							+schedule({
								days: 'Tuesday',
								time: '3:00 pm - 3:30 pm',
								name: 'Patrick Stuart'
							})
							+schedule({
								days: 'Thursday',
								time: '3:00 pm - 3:30 pm',
								name: 'Patrick Stuart'
							})
							+schedule({
								days: 'Saturday',
								time: '3:00 pm - 3:30 pm',
								name: 'Patrick Stuart'
							})

	include ../sections/_footer-classic
