extends ../_skeleton

include ../components/_quote

block variables
	- pageName = 'Typography'

block page 
	include ../sections/_header-classic

	+breadcrumbs

	//Base typography 
	section.section.section-lg.bg-default
		.container
			.row.row-50.flex-lg-row-reverse.justify-content-xl-between
				.col-lg-4.col-xl-3: .aside-style-1: .row.row-30.row-lg-50
					.col-sm-6.col-lg-12
						.title-1 Google Fonts
						h3 Barlow
						h3.font-family-base Roboto
					.col-sm-6.col-lg-12
						.title-1 Used color
						.color-default
							.color-default-line
								.color-default-item.bg-primary
								.color-default-item.bg-secondary
							.color-default-line
								.color-default-item.bg-gray-2
								.color-default-item.bg-gray-1
								.color-default-item.bg-gray-700
								.color-default-item.bg-gray-800
							.color-default-line
								.color-default-item.bg-gray-100
								.color-default-item.bg-gray-3

				.col-lg-8
					ul.list-xl
						li
							h1 H1 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h2 H2 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h3 H3 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h4 H4 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h5 H5 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						li
							h6 H6 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	// HTML Text Elements
	section.section.section-lg.bg-default
		.container
			h2 HTML Text Elements
			p.text-block
				span Welcome to our wonderful world.
				span.text-bold This is a bold text.
				mark This is a highlighted text
				span We sincerely hope that each and every user entering our website will find exactly what he/she is looking for
				span With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
				span.tooltip-custom( data-toggle='tooltip', data-placement="top" title="Default text" ) Tooltips
				span.text-strike This is a strickethrough text
				span.text-underline This is an underlined text.
				a( href='#' ) Link
				a.link-hover( href='#' ) Hover link
				a.link-active( href='#' ) Press link

	// Ordered & unOrdered List
	section.section.section-lg.bg-default
		.container
			h2 Ordered & unOrdered List
			.row.row-md.row-30
				.col-sm-6.col-md-5.col-lg-4.col-xl-3
					ul.list-marked
						li Consulting
						li Customer Service
						li Innovation
						li Management
						li Ethics

				.col-sm-6.col-md-5.col-lg-4.col-xl-3
					ol.list-ordered
						li Consulting
						li Customer Service
						li Innovation
						li Management
						li Ethics

	//Blockquote
	section.section.section-lg.bg-default
		.container
			h2 Blockquote
			.row.row-lg: .col-md-10.col-lg-9.col-xl-8
				+quote({
					text: 'Netus et malesuada fames ac turpis egestas sed tempus. Morbi tristique senectus et netus et. Faucibus scelerisque eleifend.'
				})

	include ../sections/_footer-classic
